<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/homepage.ico">
    <link rel="stylesheet" href="/css/checkout.css">
    <title>Check Out</title>
  </head>

  <div class="main" style="width:100%;height:0px;margin:0px;">
    <div class="left" >
      <h1 style= "text-align: center; margin: 0 auto 0 auto;width: 590px; font-family:Comic Sans MS; color:#355764;position:relative;top:30px;left:-15px;font-size:75px;"
      >Order Summary</h1>
      <div class="box1">
        <h1 style="position:relative;left:160px;"> Your Cart</h1>

        <form action= <%= action%> method="get">
          <div class="product1">
            <img src= <%= productOne%>  style="position:relative;height:70px;width:100px;">
            <p name="product1" style="position:relative;left:50px;"> <%= prod1 %> </p>

            <img src= <%= productTwo%>  style="position:relative;height:70px;width:100px;position:relative;left:170px;top:-120px;">
            <p name="product2" style="position:relative;left:220px; top:-125px;"> <%= prod2 %> </p>

            <img src= <%= productThree%>  style="position:relative;height:70px;width:100px;top:-250px;left:340px;">
            <p name="product3" style="position:relative;left:400px;top:-250px;"> <%= prod3 %> </p>

            <img src= <%= productFour%> style="position:relative;height:70px;width:100px;top:-250px;">
            <p name="product4" style="position:relative;left:50px;top:-250px;"> <%= prod4 %> </p>

            <img src= <%= productFive%> style="position:relative;height:70px;width:100px;position:relative;left:170px;top:-371px;">
            <p name="product5" style="position:relative;left:220px; top:-373px;"> <%= prod5 %> </p>

            <img src=<%= productSix%>  style="position:relative;height:70px;width:100px;position:relative;left:330px;top:-490px;">
            <p name="product5" style="position:relative;left:380px; top:-499px;"> <%= prod6 %> </p>

            <h1 style="position:relative;bottom:500px;width:300px;">Bill: $<%= total %> </h1>

          </div>
        </form>

      </div>
    </div>

     <form action= <%= checkout%>  method="post">
    <div class="right">
      <h1 style= "text-align: center; margin: 0 auto 0 auto;width: 590px; font-family:Comic Sans MS; color:#003865;position:relative;top:30px;left:-15px;font-size:75px;"
      >Card Info</h1>

      <div class="box2">
        <h1 style="position:relative;left:10px;top:1px;"> Billing</h1>

        <label style="position:relative;left:10px;top:10px;"> First Name:</label>
        <label style="position:relative;left:220px;top:10px;"> Last Name:</label>
        <br>
        <input type="text" id="firstname" name="firstname" placeholder="First-Name"  maxlength="15"required  style="position:relative;left:10px;top:10px;width:150px;height:20px;" >

        <input type="text" id="lastname" name="lastname"  placeholder="Last-Name" maxlength="15" required    style="position:relative;left:130px;top:10px;width:150px;height:20px;" >
        <br><br>

        <label style="position:relative;left:10px;top:10px;">Email:</label>
        <label style="position:relative;left:250px;top:10px;">Address:</label>
        <br>
        <input type="text" id="emailaddress" name="emailaddress" maxlength="50" placeholder="Email"               required        style="position:relative;left:10px;top:10px;width:150px;height:20px;" >
        <input type="text" id="address"      name="address"      maxlength="50"      placeholder="Delivery Address"    required        style="position:relative;left:130px;top:10px;width:150px;height:20px;" >

        <div>
          <h1 style="position:relative;left:10px;top:10px;"> Payment</h1>
          <input type="radio" id="CreditCard" name="drone" value="huey"
                 checked >
          <label for="huey" style="position:relative;left:10px;">Credit Card</label>
        </div>

        <div>
          <input type="radio" id="dewey" name="drone" value="dewey">
          <label for="dewey" style="position:relative;left:10px;">Debit Card</label>
        </div>

        <div>
          <input type="radio" id="louie" name="drone" value="louie">
          <label for="louie" style="position:relative;left:10px;">PayPal</label>
        </div>
        <br>

     <label style="position:relative;left:10px;top:10px;"> Name on Card </label>
     <label style="position:relative;left:195px;top:10px;"> Credit Card Number</label>
     <br>
     <input type="text" id="NameOnCard" name="NameOnCard"  maxlength="22" placeholder="Name"        required   style="position:relative;left:10px;top:10px;width:150px;height:20px;" >
     <input type="text" id="cardNumber" name="cardNumber"  maxlength="19"  placeholder="Card-Number" required   style="position:relative;left:130px;top:10px;width:150px;height:20px;" >

     <br><br>
     <label style="position:relative;left:10px;top:10px;"> Expiration </label>
     <label style="position:relative;left:225px;top:10px;"> CVC</label>
     <br>
     <input type="text"  id="month" name="month"  maxlength="2"              placeholder="MM"      required style="position:relative;left:10px;top:10px;width:50px;height:20px;" >
     <input type="text"  id="year" name="year"    maxlength="4"              placeholder="YYYY"     required style="position:relative;left:30px;top:10px;width:70px;height:20px;" >
     <input type="text"  id="cvv" name="cvv"      maxlength="4"                     placeholder="CVC"        required style="position:relative;left:150px;top:10px;width:100px;height:20px;" >
      </div>

        <button type="submit" c  style="position:relative;top:120px;left:280px;width:150px;height:50px;font-size:19px;">Order Now</button >


    </div>
    </form>

    </div>
  </body>
</html>
