<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%=name%> Profile </title>
    <link rel="icon" href="/images/homepage.ico">
    <link rel="stylesheet" href="/css/profile.css">
  </head>
  <body style="margin:0px;">
        <div class="topnav">
          <a class="active" href="/home">Home</a>
          <a href="/profile/edit">Edit Profile</a>
          
        </div>
        <form class="/resturants"  method="get">
          <div class="box" id:"heading">
      <h1> Hi, <%=name%> </h1>

      <h2>Username: <%=username%> </h2>
      <h2>Email: <%=email%> </h2>
      <h2>Address: <%=address%> </h2>
      </div>
     
      <div class="box">
        <h1> Order History</h1>
        <% for (let i=0;i<newListItems.length; i++){ %>
          <div class="item">
           <h2> <%= newListItems[i].restaurantname %>  Total Bill: $<%= newListItems[i].bill %> </h2>
          </div>
       <% } %>
      </div>
      
      <div class="box">
        <h1> Review History</h1>
        <% for (let i=0;i<newListItem.length; i++){ %>
          <div class="item">
           <h2> Resturant Name:<%= newListItem[i].restaurantname %> <br> Review: <%= newListItem[i].message %> </h2>
          </div>
       <% } %>
      </div>
      
      
    </form>


  </body>
</html>
