<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Order</title>
    <link rel="icon" href="/images/homepage.ico">
    <link rel="stylesheet" href="css/restFour.css">
  </head>
  <body style="margin-top: 0px;" >
    <div class="main" style = "height:800px;">

      <div style="height:860px;width: 300px;position: relative;left:1138px;bottom:30px;background-color:#2C3333;">
        <h1 style="color:White;position:relative;top:30px;text-align:center"> Your Cart</h1>
        <ul>
          <br><br>

          <form action= <%= actionVal%> method="post">
            <li style= "color:white;"> <%=productOne%> &emsp; &emsp;<span > <%=productOneQuantity%> </span><br><br><button  type="submit" name="add" class= "button button1" > ADD</button>&emsp; <button type="submit" name="remove" class= "button button1" > Remove </button> </li>
            <br><br>
            <li style= "color:white;"> <%=productTwo%> &emsp; &emsp;<span > <%=productTwoQuantity%> </span><br><br><button type="submit" name="add1" class= "button button1"> ADD</button>&emsp; <button type="submit" name="remove1" class= "button button1"> Remove</button></li>
            <br><br>
            <li style= "color:white;"> <%=productThree%> &emsp; &emsp;<span > <%=productThreeQuantity%> <br><br><button type="submit" name="add2" class= "button button1"> ADD</button>&emsp; <button type="submit" name="remove2" class= "button button1"> Remove</button></li>
            <br><br>
            <li style= "color:white;"> <%=productFour%> &emsp; &emsp;<span > <%=productFourQuantity%>  <br><br><button type="submit" name="add3" class= "button button1"> ADD</button>&emsp; <button type="submit" name="remove3" class= "button button1"> Remove</button></li>
            <br><br>
            <li style= "color:white;"> <%=productFive%> &emsp; &emsp;<span > <%=productFiveQuantity%> <br><br><button type="submit" name="add4" class= "button button1"> ADD</button>&emsp; <button type="submit" name="remove4" class= "button button1"> Remove</button></li>
            <br><br>
            <li style= "color:white;"> <%=productSix%> &emsp; &emsp;<span > <%=productSixQuantity%> <br><br><button type="submit" name="add5" class= "button button1"> ADD</button>&emsp; <button type="submit" name="remove5" class= "button button1"> Remove</button></li>
          </ul>
          <label for="total" style="color:white;font-size:30px;position:relative;left:20px;"> Total: $<%=total%> </label>
          </form>

          <% if (total!=0) {%>
          <form  action= <%= checkout %>  method="get">
            <button type="submit"  style="position:relative;top:30px;left:50px;width:150px;height:50px;font-size:17px;font-weight: bold;">CHECK OUT</button>
          </form>
          <%}%>


      </div>

      <div style="height: 150px;width: 1138px;background-color:#395B64;position: relative;bottom:910px;right:8px;border: 4px solid;border-color: #7895B2;">
        <h1 style= "text-align: center; margin: 0 auto 0 auto;font-family:Comic Sans MS; color:#DFD3C3;position:relative;top:70px;right:360px;"
        >  <%= restaurantname%></h1>

      </div>

      <div style="height:718px;width: 1143px;background-color:#E7F6F2;position: relative;bottom:910px;right:8px;border: 2px solid;border-color: #7895B2;">
        <div style="width: 300px;height:200px;position: relative;top:60px;left: 20px;background-image: url(<%= productOneImage%>);background-repeat: no-repeat;background-size: 80%;">
          <div class="fries">
          <h1 style="position:relative;bottom:70px;left:40px;" > <%=productOne%> </h1>
          <label for="price1" style="font-size:22px;position:relative;top:160px;left:40px;">Price:</label>
          <label for="price1" style="font-size:22px;position:relative;top:160px;left:60px;"> $<%=productOnePrice%> </label>
          </div>
        </div>

        <div style="width: 300px;height:210px;position: relative;bottom:180px;left: 450px;background-image: url(<%= productTwoImage%>);background-repeat: no-repeat;background-size: 70%;">
          <div class="burger">
            <h1 style="position:relative;bottom:50px;left:40px;" > <%=productTwo%> </h1>
            <label for="price2" style="font-size:22px;position:relative;top:180px;">Price:</label>
            <label for="price2" style="font-size:22px;position:relative;top:180px;left:20px"> $<%=productTwoPrice%> </label>
          </div>
        </div>

        <div style="width: 300px;height:200px;position: relative;bottom:400px;left: 820px;background-image: url(<%= productThreeImage%>);background-repeat: no-repeat;background-size: 70%;">
          <div class="Pizza">
          <h1 style="position:relative;bottom:60px;left:30px;"> <%=productThree%> </h1>
          <label for="price3" style="font-size:22px;position:relative;top:170px;">Price:</label>
          <label for="price3" style="font-size:22px;position:relative;top:170px;left:20px"> $<%=productThreePrice%> </label>
          </div>
        </div>

        <div style="width: 300px;height:200px;position: relative;bottom:260px;left: 50px;background-image: url(<%= productFourImage%>);background-repeat: no-repeat;background-size: 90%;">
          <div class="fried">
          <h1 style="position:relative;bottom:70px;"> <%=productFour%> </h1>
          <label for="price4" style="font-size:22px;position:relative;top:150px;">Price:</label>
          <label for="price4" style="font-size:22px;position:relative;top:150px;left:20px"> $<%=productFourPrice%> </label>
          </div>
        </div>

        <div style="width: 330px;height:200px;position: relative;bottom:480px;left: 420px;background-image: url(<%= productFiveImage%>);background-repeat: no-repeat;background-size: 90%;">
          <div class="salad">
            <h1 style="position:relative;bottom:70px;left:30px; width:280px;"> <%=productFive%> </h1>
            <label for="price4" style="font-size:22px;position:relative;top:150px;">Price:</label>
            <label for="price5" style="font-size:22px;position:relative;top:150px;left:20px"> $<%=productFivePrice%> </label>
          </div>
        </div>

        <div style="width: 300px;height:200px;position: relative;bottom:710px;left: 830px;background-image: url(<%= productSixImage%>);background-repeat: no-repeat;background-size: 80%;">
          <div class="softdrinks">
            <h1 style="position:relative;bottom:70px;left:40px; width:250px;"> <%=productSix%> </h1>
            <label for="price6" style="font-size:22px;position:relative;top:150px;">Price:</label>
            <label for="price6" style="font-size:22px;position:relative;top:150px;left:20px"> $<%=productSixPrice%> </label>
          </div>
        </div>


      </div>

      </div>
  </body>
</html>
